.App {
  text-align: center;
  height: 100vh;
}


.App-header img {
  height: 15vmin;
}
.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2vmin;
  background-color: #06c849;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10vmin;
  color: #7c1204;
  opacity: 0.75;
}
